.nav#myMenu
  %li.active{ 'data-menuanchor' => "about" }
    = link_to 'О кафе', '#about'
  %li{ 'data-menuanchor' => "interior" }
    = link_to 'Интерьер', '#interior'
  %li{ 'data-menuanchor' => "menu" }
    = link_to 'Меню', '#menu'
  %li{ 'data-menuanchor' => "contacts" }
    = link_to 'Контакты', '#contacts'
#section0.section.active
  .block-info
    .block-info-item
      %li
        .block-info-item-title
          Доступные обеды с 11:00 до 18:00
        .block-info-item-desc
          салаты от 15р. \ супы от 35р. \ горячее от 60р.
      %li
        .block-info-item-title
          Доступные обеды с 11:00 до 18:00
        .block-info-item-desc
          салаты от 15р. \ супы от 35р. \ горячее от 60р.
      %li
        .block-info-item-title
          Доступные обеды с 11:00 до 18:00
        .block-info-item-desc
          салаты от 15р. \ супы от 35р. \ горячее от 60р.
    .block-info-image
    .block-info-leg
  .block-logo
    .block-logo-title
      "Обедовъ"
    .block-logo-desc
      Приглашаем Вас отведать вкусные домашние блюда, приготовленные мамиными руками!
#section1.section
  .slide.active.firstSlide
    .firstSlide-block-info
      .firstSlide-block-info-title
        Что мы можем вам предложить:
      .firstSlide-block-info-text
        %li Мы можем вместить до 50 человек
        %li Закрыться для Вас для торжество
        %li Привезти буфет на ваше мероприятие
        %li Накормить доступным обедом и вкусным ужином
        %li У нас так же есть доставка обедов
      .firstSlide-block-info-link
        .firstSlide-block-info-link-image
        .firstSlide-block-info-link-text
          Нажмите на стрелку, мы покажем вам наше кафе
          .firstSlide-block-info-link-red.toSlide{ 'data-index' => 2 }

    .firstSlide-block-image
      = image_tag 'image_1.jpg', atl: 'Кaфе домешней еды Обедовъ', title: 'Кaфе домешней еды Обедовъ'
      .firstSlide-block-image-info
        \- У нас есть столики на 2-4 персоны
  .slide.firstSlide-image1
  .slide.firstSlide-image2
  .slide.firstSlide-image3
  .slide.firstSlide-image4


#section2.section
  .block-menu
    .block-menu-title
      Меню нашего кафе
    .block-menu-list.first
      .block-menu-text
        .block-menu-text-item
          .block-menu-text-title
          .block-menu-text-desc


    .block-menu-list
      .block-menu-text
        .block-menu-text-item
          .block-menu-text-title
          .block-menu-text-desc

  .block-menu-bottom
    .block-menu-bottom-brokoli
#section3.section
  .block-contact-info
    .block-contact-info-text
      .title
        Наш телефон:
      .description
        (8352) 39-54-84
    .block-contact-info-text
      .title
        Наш адрес:
      .description
        Ленинградская, 32
    .block-contact-info-text
      .title
        Мы в соц. сетях:
      .description
        = link_to 'vk.com/obedovche', 'html://vk.com/obedovche'
    .block-contact-info-work
      .title
        Работаем ежедневно:
    .block-contact-info-time
      .description
        с 11:00 до 23:00
  .block-contact-info-map
    = render 'map'