.nav#myMenu
  %li.active{ 'data-menuanchor' => "about" }
    = link_to 'О кафе', '#about'
  %li{ 'data-menuanchor' => "interior" }
    = link_to 'Интерьер', '#interior'
  %li{ 'data-menuanchor' => "menu" }
    = link_to 'Меню', '#menu'
  %li{ 'data-menuanchor' => "contacts" }
    = link_to 'Контакты', '#contacts'
#section0.section.active
  .block-info
    .block-info-item
      %li
        .block-info-item-title
          Доступные обеды с 11:00 до 18:00
        .block-info-item-desc
          салаты от 15р. \ супы от 35р. \ горячее от 60р.
      %li
        .block-info-item-title
          Доступные обеды с 11:00 до 18:00
        .block-info-item-desc
          салаты от 15р. \ супы от 35р. \ горячее от 60р.
      %li
        .block-info-item-title
          Доступные обеды с 11:00 до 18:00
        .block-info-item-desc
          салаты от 15р. \ супы от 35р. \ горячее от 60р.
    .block-info-image
    .block-info-leg
  .block-logo
    .block-logo-title
      "Обедовъ"
    .block-logo-desc
      Приглашаем Вас отведать вкусные домашние блюда, приготовленные мамиными руками!
#section1.section
  .slide.active.firstSlide
    .firstSlide-block-info
      .firstSlide-block-info-title
        Что мы можем вам предложить:
      .firstSlide-block-info-text
        %li Мы можем вместить до 50 человек
        %li Закрыться для Вас для торжество
        %li Привезти буфет на ваше мероприятие
        %li Накормить доступным обедом и вкусным ужином
        %li У нас так же есть доставка обедов
      .firstSlide-block-info-link
        .firstSlide-block-info-link-image
        .firstSlide-block-info-link-text
          Нажмите на стрелку, мы покажем вам наше кафе
        .firstSlide-block-info-link-red.toSlide{"data-index" => "1"}

    .firstSlide-block-image
      = image_tag 'image_1.jpg', atl: 'Кaфе домешней еды Обедовъ', title: 'Кaфе домешней еды Обедовъ'
      .firstSlide-block-image-info
        \- У нас есть столики на 2-4 персоны
  .slide.firstSlide-image1
  .slide.firstSlide-image2
  .slide.firstSlide-image3
  .slide.firstSlide-image4


#section2.section
  .block-menu
    .block-menu-title
      Меню нашего кафе
    .block-menu-list.first
      .block-menu-text
        .block-menu-text-item
          .block-menu-text-title
            суп
          .block-menu-text-desc
            Щи из свежей капусты - 300гр. \ 38р.
            %br
            Щи из свежей капусты - 300гр. \ 38р.
        .block-menu-text-item
          .block-menu-text-title
            суп
          .block-menu-text-desc
            Щи из свежей капусты - 300гр. \ 38р.
            %br
            Щи из свежей капусты - 300гр. \ 38р.
        .block-menu-text-item
          .block-menu-text-title
            суп
          .block-menu-text-desc
            Щи из свежей капусты - 300гр. \ 38р.
            %br
            Щи из свежей капусты - 300гр. \ 38р.
        .block-menu-text-item
          .block-menu-text-title
            суп
          .block-menu-text-desc
            Щи из свежей капусты - 300гр. \ 38р.
            %br
            Щи из свежей капусты - 300гр. \ 38р.

    .block-menu-list
      .block-menu-text
        .block-menu-text-item
          .block-menu-text-title
            суп
          .block-menu-text-desc
            Щи из свежей капусты - 300гр. \ 38р.
            %br
            Щи из свежей капусты - 300гр. \ 38р.
        .block-menu-text-item
          .block-menu-text-title
            суп
          .block-menu-text-desc
            Щи из свежей капусты - 300гр. \ 38р.
            %br
            Щи из свежей капусты - 300гр. \ 38р.
        .block-menu-text-item
          .block-menu-text-title
            суп
          .block-menu-text-desc
            Щи из свежей капусты - 300гр. \ 38р.
            %br
            Щи из свежей капусты - 300гр. \ 38р.
        .block-menu-text-item
          .block-menu-text-title
            суп
          .block-menu-text-desc
            Щи из свежей капусты - 300гр. \ 38р.
            %br
            Щи из свежей капусты - 300гр. \ 38р.
  .block-menu-bottom
    .block-menu-bottom-brokoli
#section3.section
  .block-contact-info
    Информация
  .block-contact-info-menu
  #map
    :javascript
      function initialize() {

        var styles = [
          {
              "featureType": "administrative",
              "stylers": [
                  {
                      "visibility": "on"
                  }
              ]
          },
          {
              "featureType": "poi",
              "stylers": [
                  {
                      "visibility": "simplified"
                  }
              ]
          },
          {
              "featureType": "road",
              "elementType": "labels",
              "stylers": [
                  {
                      "visibility": "simplified"
                  }
              ]
          },
          {
              "featureType": "water",
              "stylers": [
                  {
                      "visibility": "simplified"
                  }
              ]
          },
          {
              "featureType": "transit",
              "stylers": [
                  {
                      "visibility": "simplified"
                  }
              ]
          },
          {
              "featureType": "landscape",
              "stylers": [
                  {
                      "visibility": "simplified"
                  }
              ]
          },
          {
              "featureType": "road.highway",
              "stylers": [
                  {
                      "visibility": "off"
                  }
              ]
          },
          {
              "featureType": "road.local",
              "stylers": [
                  {
                      "visibility": "on"
                  }
              ]
          },
          {
              "featureType": "road.highway",
              "elementType": "geometry",
              "stylers": [
                  {
                      "visibility": "on"
                  }
              ]
          },
          {
              "featureType": "water",
              "stylers": [
                  {
                      "color": "#84afa3"
                  },
                  {
                      "lightness": 52
                  }
              ]
          },
          {
              "stylers": [
                  {
                      "saturation": -17
                  },
                  {
                      "gamma": 0.36
                  }
              ]
          },
          {
              "featureType": "transit.line",
              "elementType": "geometry",
              "stylers": [
                  {
                      "color": "#3f518c"
                  }
              ]
          }
        ];

        var myLatlng = new google.maps.LatLng(56.138807,47.246167);
        var mapOptions = {
          zoom: 16,
          center: myLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          styles: styles
        };
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);

        var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'Кафе домашней еды - Обедовъ'
        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);