!!!
%html{ lang: 'ru'}
  %head
    %title= yield_or_default(:title, "Кафе домашней еды - Обедовъ")
    %meta{ content: content_for?(:description) ? yield(:description) : "Нашей кафе всегда открыто для вас, здесь вы можете вкусно покушать, и прияно провести время, с друзьями и близкими, унас так же есть бесплатный WIFI", name: "description"}
    %meta{ content: content_for?(:keywords) ? yield(:keywords) : "Кафе Чебоксары, ", name: "keywords"}
    %meta{ property: "og:title", content: content_for?(:title) ? yield(:title) : "Кафе домашней еды - Обедовъ"}
    %meta{ property: "og:description", content: content_for?(:description) ? yield(:description) : "Нашей кафе всегда открыто для вас, здесь вы можете вкусно покушать, и прияно провести время, с друзьями и близкими, унас так же есть бесплатный WIFI", name: "description"}
    %meta{ property: "og:article:author", content: content_for?(:author) ? yield(:author) : "Обедовъ"}
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag :modernizr
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAOJGl6N4KkkV3csbSE4GNBINBJqrfOtXo&sensor=true"

    = csrf_meta_tags
%body
  = yield

- if Rails.env.production?
  :javascript
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter23726545 = new Ya.Metrika({id:23726545,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
  %noscript
    %div
      %img{alt: "", src: "//mc.yandex.ru/watch/23726545", style: "position:absolute; left:-9999px;"}
